<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>

<!--        <property name="connection.url">jdbc:mysql://localhost:9961/test?rewriteBatchedStatements=true</property>-->
<!--        <property name="connection.username">root</property>-->
<!--        <property name="connection.password">123qweasdzxc</property>-->

                <property name="connection.url">jdbc:mysql://db.m3c.edg.ua:3308/edg_m3c_db?rewriteBatchedStatements=true</property>
                <property name="connection.username">edg</property>
                <property name="connection.password">h4LAxeHu8</property>

                <property name="show_sql">true</property>
                <property name="format_sql">true</property>

        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="hibernate.jdbc.batch_size">5000</property>
        <property name="hibernate.order_inserts">true</property>
        <property name="hibernate.order_updates">true</property>

        <property name="hibernate.id.optimizer.pooled.preferred">pooled-lo</property>
    </session-factory>
</hibernate-configuration>